<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>

<body>
    <%- include('nav.ejs') %>
    
    <div class="about content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum blanditiis beatae similique nihil, ipsum voluptatibus at quasi, labore odit reiciendis pariatur quam numquam harum reprehenderit voluptas dicta quis aperiam laborum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure odio quisquam illum numquam voluptatibus illo nemo fugit inventore laboriosam quis, beatae minus velit cum deleniti, ratione perferendis, in voluptas.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum blanditiis beatae similique nihil, ipsum voluptatibus at quasi, labore odit reiciendis pariatur quam numquam harum reprehenderit voluptas dicta quis aperiam laborum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error iure odio quisquam illum numquam voluptatibus illo nemo fugit inventore laboriosam quis, beatae minus velit cum deleniti, ratione perferendis, in voluptas.</p>
    
    </div>
    <h1> About us</h1>
    <%- include('footer.ejs') %>
</body>
</html>