<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>

<body>
    <%- include('nav.ejs') %>
    
    <div class="not-found-content">
        <h1> OOP's <br> 404-page not found !!</h1>
    </div>
    <%- include('footer.ejs') %>
    
</body>
</html>